[submodule "mongoose"]
	path = mongoose
	url = https://github.com/cesanta/mongoose/
[submodule "cJSON"]
	path = cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "scl"]
	path = scl
	url = https://github.com/damemay/scl.git
